<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body background="//imgnooz.com/sites/default/files/wallpaper/games/59104/lego-star-wars-wallpapers-59104-6655384.jpg">
<div class="container mt-5 text-center">
    <div class="alert alert-dark" role="alert">
        <h1>Welcome on ma page</h1>
    </div>
</div>
Admin name is: <p th:text="${admin}"></p>
</body>
</html>